<a id="ups_battery" class="pull-right" title="UPS Status" href="javascript:void(0)" data-bind="popover: {placement: 'bottom', trigger: 'hover', html: true, title: 'UPS Status', content: popoverContent()}" style="position: relative;">
    <i class="fa fa-battery-empty fa-battery-filling">
        <span id="ups_battery_bar"></span>
    </i>
    <i id="ups_battery_status" class="fa fa-stack-1x" style="font-size:0.75em; left: 15px; top: 0px;"></i>
</a>
